<div class="container">
  <mat-card class="login-wrapper">
    <mat-card-content>
      <form [formGroup]="formGroup">
        <h2><small>Sign up to</small> NutriMind</h2>
        <mat-form-field class="full-width">
          <input matInput placeholder="Username" formControlName="username" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error> Please provide a valid email address</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error>Please provide a valid password</mat-error>
        </mat-form-field>
        <button mat-raised-button class="full-width" (click)="onRegister()" color="primary">Register</button>
        <button mat-raised-button class="full-width mtop-10" (click)="onLogin()" >Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
